@import url(https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold);

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
}

/*Left-Side(Image)*/
.image-section {
    background-image: url("./images/green-lead-bg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    flex: 3;
}

a {
    color: white;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Norse Bold";
    font-size: 5.5rem;
    margin-top: 20vh;
    padding: 16px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

img {
    height: 125px;
}

.credit {
    font-size: 0.9rem;
}

/*Right Side(text)*/
.text-section {
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    justify-content: center;
    flex: 5;
}

div>p{
    font-weight: bold;
    font-size: 1.4rem;
    max-width: 80%;
    margin-left: 48px;
    margin-bottom: 8px;
}

.form-section {
    color: black;
    background-color: white;
    margin-top: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.form-section label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1px;
}
  
.form-section input {
box-sizing: border-box;
border: 1px solid #e5e7eb;
border-radius: 4px;
padding: 4px 8px;
width: 100%;
font-size: 1rem;
margin-right: 32px;
transition: border-color 0.3s;
outline: none;
}

.form-section h3 {
font-size: 1.25rem;
font-weight: 600;
margin-top: 0;
margin-bottom: 24px;
}

.inputs > div {
display: flex;
flex-wrap: wrap;
column-gap: 84px;
row-gap: 18px;
margin-bottom: 18px;
}

.inputs label {
display: block;
}

.form-section input:focus {
/* border: 1px solid blue; */
border-color: blue;
box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#create-account {
margin-left: 48px;
margin-top: 32px;
border: none;
background-color: #596D48;
padding: 12px 48px;
border-radius: 8px;
box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
cursor: pointer;
color: white;
font-weight: 700;
font-size: 1.1rem;
}

p.log-in {
font-weight: 400;
font-size: 1rem;
margin-top: 32px;
}

.log-in a {
color: #596D48;
font-weight: bold;
text-decoration: none;
}

.log-in a:hover {
    text-decoration: underline;
}

#create-account:hover {
    background-color: darkgreen;
}

.inputs .bottom {
    margin-bottom: 1px;
}

.form-section input.error {
    border-color: red;
}